<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
   <h2><%=@team_name%></h2>
   <h3><%=@coach%></h3>
   <h3><%=@point_guard%></h3>
   <h3><%=@shooting_guard%></h3>
   <h3><%=@small_forward%></h3>
   <h3><%=@power_forward%></h3>
   <h3><%=@center%></h3>

 </body>
</html>
