<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
   <h1>Team Name: <%=@team_name%></h1>
   <h2><%=@coach%></h2>
   <h2><%=@point_guard%></h2>
   <h2><%=@shooting_guard%></h2>
   <h2><%=@small_forward%></h2>
   <h2><%=@power_forward%></h2>
   <h2><%=@center%></h2>

 </body>
</html>
